.app {
    text-align: center;
    border: 3px solid #3BE4CDFF;
}


.app-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;


}

.setup-header{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;


}

.set{
    text-align: center;
    border: 3px solid #3BE4CDFF;
}

.num {
    color: #1e438a;
    margin: 0 auto;
    text-align: center;
    border-radius: 3px;
    background-color: #3be4cd;


}

.num_isDon {

    color: red;
    margin: 0 auto;
    border-radius: 3px;
    background-color: #3be4cd;
}

.counter_title {

    padding: 10px;
    border-radius: 3px;
}

.btn {
    font-size: 20px;
    margin: 5px;
    border-radius: 3px;
    background-color: #3be4cd;


}

.btnDisabled {
    font-size: 20px;
    border-radius: 3px;
    margin: 5px;
    background-color: rgba(59, 228, 205, 0.29);
}

.block_bnt {

    border: 3px solid #3BE4CDFF;

    margin-top: 10px;
    margin-bottom: 8px;
    margin-right: 10px;
    margin-left: 10px;

    border-radius: 3px;

}